#about_us_banner {
  height: 60vh;
  min-height: 60vh;
  padding: 3rem;
}
#about_us_banner .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#about_us_banner_info {
  width: 50%;
  color: #101a24;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
#about_us_banner_info p {
  position: relative;
  width: fit-content;
  font-weight: 400;
  line-height: 1.5rem;
}
#about_us_banner_info p:last-child {
  color: #555555;
  width: 80%;
}
#about_us_banner_info h2 {
  font-size: 2rem;
  margin: 0;
}
#about_us_banner_info img {
  width: 200px;
}
#about_us_banner_info button {
  width: 25%;
  margin-top: 2rem;
}

#about_us_banner_img {
  width: 50%;
  /* padding: 2rem; */
  /* margin-top: 5rem; */
  height: 80%;
  z-index: 1;
  position: relative;
}
#about_us_banner_img img {
  width: 100%;
  height: 100%;
}
#about_us_banner_img::after {
  content: "";
  position: absolute;
  background-image: url(../images/banner-pattern-orange.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16rem;
  height: 16rem;
  right: 0;
  top: -50px;
  z-index: -1;
}
/* #about_us_banner_img #ceo_msg {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 40%;
  height: 20%;
  background-color: #ffffff;
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
#services {
  padding: 3rem;
  min-height: 30vh;
  background-image: url(../images/services-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
#services .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem 0;
}
#services .services_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
}
/* #797E89 */
#services .services_box img {
  width: 60px;
  filter: brightness(0) saturate(100%) invert(56%) sepia(45%) saturate(3042%)
    hue-rotate(342deg) brightness(93%) contrast(97%);
}
#services .services_box h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-top: 1rem;
}
#services .services_box p {
  text-align: center;
  font-weight: 300;
  line-height: 1.2rem;
  margin-bottom: 0;
}
#services .services_box p:last-child {
  color: #ea6d27;
  cursor: pointer;
  font-weight: 400;
}
