#contact_form_container {
  min-height: 40vh;
  padding: 3rem 0;
}
#contact_form_container .container {
  display: flex;
  gap: 2rem;
}
#contact_form_container #contact_info {
  background-color: #fff8f5;
  padding: 3rem;
  width: 40%;
  box-sizing: border-box;
}
#contact_form_container #contact_info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0rem;
}
#contact_form_container #contact_info p {
  line-height: 1.3rem;
  font-weight: 400;
  color: #555555;
}
#contact_form_container #contact_info .info_box {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
#contact_form_container #contact_info .info_box img {
  width: 50px;
  margin-right: 0.5rem;
}
#contact_form_container #contact_info .info_box p {
  font-size: 1.2rem;
  margin: 0rem;
  font-weight: 400;
  color: #4a4a4a;
}
#contact_form_container #contact_info .info_box p a {
  color: #4a4a4a;
}
#contact_form_container #contact_info ul {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1rem;
}
#contact_form_container #contact_info ul li {
  padding: 2rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(41, 46, 54, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact_form_container #contact_info ul li img {
  width: 20px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(4135%)
    hue-rotate(168deg) brightness(91%) contrast(92%);
}

#contact_form_container #contact_form {
  /* background-color: #e8e9ea; */
  padding: 3rem;
  width: 60%;
}
#contact_form_container #contact_form p {
  position: relative;
  width: fit-content;
}
#contact_form_container #contact_form h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0rem;
}

#more_contact .container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
#more_contact p {
  position: relative;
  width: fit-content;
  margin: 0;
}
#more_contact h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0rem;
}
#more_contact #more_contact_container {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
#more_contact #more_contact_container .contact_box {
  display: flex;
  align-items: center;
  min-height: 40vh;
  width: 50%;
  border: 1px solid #c4c4c4;
}
#more_contact #more_contact_container .contact_box #info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
#more_contact #more_contact_container .contact_box #info p {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  color: #4a4a4a;
  width: 80%;
  line-height: 1.3rem;
}
#more_contact #more_contact_container .contact_box #info p a {
  color: #4a4a4a;
}
#more_contact #more_contact_container .contact_box #image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
#more_contact #more_contact_container .contact_box #image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
#more_contact #more_contact_container .contact_box:hover #image img {
  transform: scale(1.1);
}