#map_area {
  width: 100%;
  height: 70vh;
  position: relative;
  margin-top: 50vh;
}
#reservation_form_container {
  width: 40vw;
  border-radius: 5px;
  box-shadow: 0 2.98px 59.57px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  position: absolute;
  min-height: 30vh;
  padding: 3rem;
  top: -50vh;
  left: 50%;
  transform: translate(-50%, 0%);
}
#reservation_form_container #form_container label {
  margin: 0.5rem 0;
  font-size: .8rem;
}
#reservation_form_container #form_container input,
#reservation_form_container #form_container select {
  width: auto;
}
#reservation_form_container #form_container textarea {
  margin: 0;
}
#reservation_form_container #form_container button {
  margin-top: 0;
  width: 25%;
}
#reservation_form_container #form_container .form-group {
  margin: 0;
  margin-bottom: 1rem;
}
#reservation_form_container #form_container .input_container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#reservation_form_container #form_container .input_container.full-width {
  width: 100%;
}
